<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="message">
            <h2><span>Message</span> {{message.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{message.text}}</span>
                </dd>
                <dt><span>Is Read</span></dt>
                <dd>
                    <span>{{message.isRead}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{message.date}}</span>
                </dd>
                <dt><span>Author</span></dt>
                <dd>
                    {{message.authorLogin}}
                </dd>
                <dt><span>Recipient</span></dt>
                <dd>
                    {{message.recipientLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message', message.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
